/* I think we need to decide on a colour scheme
And plan how we want it to look visually as well .. yhhhh */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  background-color: #748dca;
  color: #e6e6e6;
}
